@import "github";
@import "link";

#calendar {
  a {
    color: var(--text-bright);

    &:hover {
      text-decoration: none;
    }
  }

  tr {
    background: var(--background-body);
  }

  .fc-event {
    cursor: pointer;
  }

  .fc-daygrid-event {
    white-space: normal;
  }

  .fc-day-sat .fc-daygrid-day-number,
  .fc-day-sat .fc-col-header-cell-cushion {
    color: dodgerblue;
  }

  .fc-day-sun .fc-daygrid-day-number,
  .fc-day-sun .fc-col-header-cell-cushion {
    color: crimson;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;

  .avatar {
    position: relative;
    display: inline-block;

    .avatar-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h1,
  p,
  a {
    margin: 0;
  }
}
