<p>
  {{ (printf (i18n "powered") (printf `<a href="%s">Hugo %s</a>` ("/status/" | relLangURL) .Site.Hugo.Version)) | safeHTML }}
  |
  {{ i18n "theme" }}
  <a target="_blank" rel="noopener" href="https://github.com/yuanji-dev/futu">futu</a>
  | 统计
  <a target="_blank" rel="noopener" href="https://uma.yuanji.dev/share/JdzqlJyb/Yuanji%27s%20Blog">Umami</a>
  <br />
  Copyright ©
  {{ .Site.Params.Since }}-{{ now.Format "2006" }}
  {{ .Site.Author.name }} All Rights Reserved.
  <br />
  <a target="_blank" rel="noopener" href="https://html5.validator.nu/?doc={{ .Permalink }}&showoutline=yes">
    <img
      loading="lazy"
      alt="W3C Validation"
      src="https://img.shields.io/w3c-validation/html?targetUrl={{ .Permalink }}&style=flat-square"
    />
  </a>
</p>
