{{ $repo := .Get "repo" }}
{{ $repoUrl := (printf "%s%s" "https://api.github.com/repos/" $repo) }}
{{ with try (resources.GetRemote $repoUrl) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else with .Value }}
    {{ $data := . | transform.Unmarshal }}
    <div class="sc-card">
      <a href="https://github.com/{{ $repo }}" target="_blank" rel="noopener">
        <div>
          <img alt="{{ $repo }}" src="https://opengraph.githubassets.com/1/{{ $repo }}" />
        </div>
        <div class="sc-card-content">
          <p class="sc-card-title">{{ $repo }}</p>
          <p class="sc-card-details">{{ $data.description }}</p>
          <span>github.com</span>
        </div>
      </a>
    </div>
  {{ else }}
    {{ errorf "Unable to get remote resource %q" $repoUrl }}
  {{ end }}
{{ end }}
